/*
  Proyecto: [Ecommerce-TP-Info-2023]
  Autor: [José Luis Pauluk]
  Fecha: [26/12/2023]
  Descripción: [Proyecto Final Informatorio Diciembre 2023]
*/

.link nav{
    background: #027ad5;
    height: 80px;
    width: 100%;
  }

.link ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.link ul li a{
    text-decoration: none;
    color:  #bebebe;
    font-weight: bold;
}

.link ul li a:hover{

    color: #fff;
}


.link a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    
}

.link ul li a.active{
    color:rgb(97, 196, 163)
}